---
layout: default
title: vibes images
---

<section>
  <p>random photo dump with no quality control or anything!! contains nsfw stuff!!</p>
  <p>
    inspired by
    <a href="https://girl.surgery/website_vibes/">https://girl.surgery/website_vibes/</a>
  </p>
</section>

<section id="vibes">
  {% for image in site.static_files %}
    {% if image.path contains 'images/vibes' %}
      <img src="{{ site.baseurl }}{{ image.path }}" alt="image" loading="lazy"/>
    {% endif %}
  {% endfor %}
</section>
