<footer>
  <div class="lastfm-recently-played">
    <a href="https://www.last.fm/user/meeeeeeooow" target="_blank" rel="nofollow noopener">
      <object
        data="https://lastfm-recently-played.vercel.app/api?user=meeeeeeooow&amp;count=1&amp;loved=true&amp;loved_style=3&amp;bg_color=00000000&amp;width=370"
        type="image/svg+xml" alt="My Last.fm"></object>
    </a>
  </div>

  <div class="buttons">
    <a href="https://mykocalico.neocities.org/buttons">
      <picture>
        <source
          srcset="https://64.media.tumblr.com/1d8db5e07901d42ff162c18ad2b043e7/298a6b99507e35eb-9e/s100x200/8bb8800442760ff35db9dcdd3bdefd263ad49e0f.png"
          media="(prefers-reduced-motion: reduce)" />
        <img
          src="https://64.media.tumblr.com/0d4db0b90d2cfee79a934ce56163a0b9/298a6b99507e35eb-e4/s100x200/397c38c3259c7bbb0143a3614646f348c9cb3b57.gif"
          alt="i was on cohost!">
      </picture>
    </a>

    <!-- <img src="https://88by31.neocities.org/anime/tummy.gif">
      <img src="https://88by31.neocities.org/anime/cute.gif">
      <img src="https://88by31.neocities.org/anime/animegay.gif"> -->
    <a href="https://meow-d.github.io/">
      <img src="/assets/images/buttons/meow_d.webp"
        alt="'meow_d' text with yuri background. the yuri is from https://seiga.nicovideo.jp/seiga/im10931700">
    </a>
  </div>
</footer>
