body {
    font-family: monospace;
    font-size: 14px;
}

hr {
    margin: 48px 0;
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr::after {
    background: #fff;
    content: "ยง";
    padding: 0 4px;
    position: relative;
    top: -11px;
}
