/* Variables */
:root {
  --body-padding: 5vh;
  --main-padding: 1.5em;
  --text: #dcdcdc;
  --gray-text: #bbbbbb;
  --button-scale: 1.5;
  --box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37), inset 0 4px 20px rgba(255, 255, 255, 0.27), inset 1px 1px 2px 0px rgba(255, 255, 255, 0.4);
  --box-shadow-lite: 0 8px 32px rgba(0, 0, 0, 0.37);
}

@media screen and (max-width: calc(600px)) {
  :root {
    --body-padding: 3vw;
    --main-padding: 1em;
  }
}

body {
  /* Fonts */
  font-family: Noto Sans, sans-serif;
  font-size: 16px;
  line-height: 1.6em;

  /* Padding, margin and stuff */
  margin: 0;

  /* Background */
  background-color: #962B3D;
  background-image: linear-gradient(to bottom, #962B3D, #EA3D3C, #EA3D3C, #e7bd6a);
  background-image: url(/assets/images/background/mpv-shot0019.png);
  background-size: cover;
  background-attachment: fixed;
  animation-timing-function: ease;
}

/* Main content / Content box */
.container {
  padding: 5vh var(--body-padding);
  max-width: 38rem;
}

main,
#comments,
nav {
  padding: var(--main-padding);
  margin-bottom: 1.5em;

  border-radius: 20px;
  backdrop-filter: blur(10px) saturate(1.2) hue-rotate(-10deg);

  background-color: rgba(0, 0, 0, 0.5);
  color: var(--text);
  box-shadow: var(--box-shadow);
}

/* Blog */
.posts {
  padding: 0;
}

.post-item {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
}

.post-item a p,
.post-item a h3 {
  margin-top: 0.7em;
  margin-bottom: 0;
  font-size: 1.1rem;
  font-weight: bold;
}

.post-info {
  font-family: "Merriweather", serif;
}

.post-info,
.post-date,
.post-tags,
.post-tags a:link,
.post-tags a:visited {
  color: var(--gray-text);
}

.post-tags a:hover {
  color: white;
}

.post-tags a:active {
  color: var(--gray-text);
}

/* Text */
h1 {
  font-family: "Merriweather", serif;
  color: white;
  line-height: normal;
}

.kold-seal {
  font-size: small;

  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to bottom, #ffbc29 27%, #ffe491 40%, #b78217 78%);

  filter: drop-shadow(2px 2px #333);

  display: block;
  position: absolute;
  right: 0em;
  top: 0.5em;
  rotate: 9deg;

  animation: spin-once 1s cubic-bezier(.65, .05, .36, 1) 1;
}

@keyframes spin-once {
  from {
    rotate: 10deg;
  }

  to {
    rotate: 370deg;
  }
}

h2 {
  font-family: "Merriweather", serif;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

h3 {
  font-family: "Merriweather", serif;
  margin-top: 1.5em;
  margin-bottom: 0;
}

.p-less-margin {
  margin: 0;
}

hr {
  border: 0;
  /* idk why is it 2px sometimes unless i do this */
  height: 0.9px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--gray-text), rgba(0, 0, 0, 0));
  margin: 1.5em 0;
}

audio,
iframe,
img {
  max-width: 100%;
  border-radius: 15px;
  box-shadow: var(--box-shadow-lite);
}

#comments>#cusdis_thread>iframe {
  border-radius: 0;
  box-shadow: none;
}

ul {
  padding-left: 1.5em;
}

blockquote {
  border-left: 2px solid var(--gray-text);
  padding-left: 1em;
  margin-left: 0;
}

.highlight {
  overflow-x: scroll;
}

code {
  text-wrap: wrap;
  overflow-wrap: break-word;
}

div.highlight {
  border-radius: 10px;
  margin: 0.5em 0;
  padding: 0.5em;
  color: #fff;
  background-color: #00000027;
  box-shadow: var(--box-shadow);
}

/* Hyperlinks*/
a:link,
a:visited {
  color: #ff7590;
  text-decoration: none;
  transition: text-shadow 0.05s, color 0.1s;
}

:target,
a:hover {
  text-decoration: underline 2px;
  text-underline-offset: 2px;
  color: #fff;
}

a:hover {
  text-shadow: 1px 1px 20px #ffffff98;
}

a:active {
  color: #d8d8d8;
}

/* icons */
.fa-brands,
.fa-solid {
  width: 1.15em;
}

/* Comments */
#comments>h2 {
  margin-top: 0;
}


/* Selection */
::selection {
  background: #6a61be;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);

  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 1);
}

/* Navigation bar */
nav {
  font-family: "Merriweather", serif;
  word-spacing: 10px;
  padding: 0.5em 1em 0.6em;
  border-radius: 17px;
}

nav span {
  display: inline-block;
}

nav a:link,
nav a:visited {
  color: var(--text);
  text-decoration: none;
}

nav a:hover {
  color: white;
  text-shadow: 0px 0px 4px #ffffff;
}

nav a:active {
  color: #ffffff8f;
}

/* Current page */
nav a#current {
  color: #ffffff;
  text-decoration: underline 2px;
  text-underline-offset: 2px;
}

nav a#current:after {
  width: 100%;
}

/* Buttons */
.buttons iframe {
  width: calc(81px * var(--button-scale));
  height: calc(31px * var(--button-scale));
  border-radius: 1px;
  border: none;
}

.buttons a {
  text-decoration: none;
}

.buttons img,
.buttons a img {
  width: calc(81px * var(--button-scale));
  height: calc(31px * var(--button-scale));
  image-rendering: pixelated;
  border-radius: 0;
}

.buttons a img:hover {
  filter: brightness(1.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.694);
  transform: scale(1.15) translateY(-6px);
  transition: all cubic-bezier(.93, .41, .55, 1.94) 0.2s;
}

.buttons a img:active {
  filter: brightness(0.9);
  box-shadow: 0 0 10px 0px #000000;
  transform: scale(0.9) translateY(4px);
  transition: all 0.01s;
}

/* vibes images */
#vibes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-auto-flow: dense;
  grid-gap: 0.3rem;
  align-items: center;
  justify-items: center
}

#vibes>img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin: auto;
  border-radius: 10px;
}
