/* Variables */
:root {
  --body-padding: 5vh;
  --main-padding: 1.5em;
}

@media screen and (max-width: calc(600px)) {
  :root {
    --body-padding: 3vw;
    --main-padding: 1em;
  }
}

* {
  --gray-text: #ffffff91;
  --button-scale: 1.5;
}

/* Size */
html {
  height: 100%;
}

body {
  /* Fonts */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;

  /* Padding, margin and stuff */
  padding: 5vh var(--body-padding);
  margin: 0;
  overflow: overlay;

  /* Background */
  background-color: #000000;
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #000000 28px), repeating-linear-gradient(#4e000055, #4e0000);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Main content / Content box */
main,
#comments {
  margin: 0 auto;
  padding: var(--main-padding);
  max-width: 38rem;

  border-radius: 20px;
  backdrop-filter: blur(5px);

  animation-timing-function: ease;

  background-color: rgba(0, 0, 0, 0.2);
  color: rgb(219, 219, 219);
}

/* Blog */
.posts {
  padding: 0;
}

.post-item {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
}

.post-item a p,
.post-item a h3 {
  margin-top: 0.7em;
  margin-bottom: 0;
  font-size: 1.1rem;
  font-weight: bold;
}

.post-info,
.post-date,
.post-tags,
.post-tags a:link,
.post-tags a:visited {
  color: var(--gray-text);
}

.post-tags a:hover {
  color: white;
}

.post-tags a:active {
  color: var(--gray-text);
}

/* Text */
h1 {
  color: white;
}

h2 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

h3 {
  margin-top: 1.5em;
  margin-bottom: 0;
}

.p-less-margin {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;

  border-radius: 10px;
}

ul {
  padding-left: 1.5em;
}

blockquote {
  border-left: 2px solid var(--gray-text);
  padding-left: 1em;
  margin-left: 0;
}

.highlight {
  overflow-x: scroll;
}

audio {
  width: 100%;
}

iframe {
  width: 100%;
}

/* Hyperlinks*/
a:link,
a:visited {
  color: #47bcff;
  text-decoration: none;
  transition: text-shadow 0.05s, color 0.1s;
}

:target,
a:hover {
  text-decoration: underline;
  text-underline-offset: 1px;
  color: rgb(255, 255, 255);
}

a:hover {
  text-shadow: 1px 1px 20px #ffffff98;
}

a:active {
  color: #ffffffbb;
}

/* icons */
.fa-brands,
.fa-solid {
  width: 1.15em;
}

/* Comments */
#comments {
  margin-top: 1.5em;
}

#comments>h2 {
  margin-top: 0;
}


/* Selection */
::selection {
  background: #0078ab;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);

  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 1);
}

/* Navigation bar */
nav {
  text-align: center;
  word-spacing: 10px;
}

nav span {
  display: inline-block;
}

nav a:link,
nav a:visited {
  color: #ffffff91;
  text-decoration: none;
}

nav a:hover {
  color: white;
    text-shadow: 0px 0px 4px #ffffff;
}

/* Expanding underline */
nav a:after {
  display: block;
  content: "";

  position: relative;
  top: -4px;

  width: 0;
  height: 2px;
  background: #ffffffcd;

  transition: width 0.1s;
}

nav a:hover:after {
  width: 100%;
}

/* Current page */
nav a#current {
  color: #ffffffcd;
}

nav a#current:after {
  width: 100%;
}

/* Buttons */
.buttons iframe {
  width: calc(81px * var(--button-scale));
  height: calc(31px * var(--button-scale));
  border: none;
}

.buttons img,
.buttons a img {
  width: calc(81px * var(--button-scale));
  height: calc(31px * var(--button-scale));
  image-rendering: pixelated;
  border-radius: 1px;
}

.buttons a img:hover {
  filter: brightness(1.1);
  box-shadow: 0 0 10px 0px #ffffff;
  transform: scale(1.1);
  transition: all 0.2s;
}

.buttons a img:active {
  filter: brightness(0.9);
  box-shadow: 0 0 10px 0px #000000;
  transform: scale(0.9);
  transition: all 0.01s;
}

/* vibes images */
#vibes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-auto-flow: dense;
  grid-gap: 0.3rem;
  align-items: center;
  justify-items: center
}

#vibes>img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin: auto;
  border-radius: 10px;
}
