/* Variables */
:root {
  --body-padding: 5vh;
  --main-padding: 1.5em;
}

@media screen and (max-width: calc(38rem)) {
  :root {
    --body-padding: 3vw;
    --main-padding: 1em;
  }
}

* {
  --gray-text: #ffffff91;
  --button-scale: 1.5;
}

/* Size */
html {
  height: 100%;
}

body {
  /* Fonts */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;

  /* Padding, margin and stuff */
  padding: 5vh var(--body-padding);
  margin: 0;
  overflow: overlay;

  /* Background */
  background-image: url("../images/background/background.webp");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Main content / Content box */
main,
#comments {
  margin: 0 auto;
  padding: var(--main-padding);
  max-width: 38rem;

  border-radius: 20px;
  backdrop-filter: blur(20px);

  animation-timing-function: ease;

  background-color: rgba(0, 0, 0, 0.6);
  color: rgb(219, 219, 219);
}

/* Blog */
.posts {
  padding: 0;
}

.post-item {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
}

.post-item a p {
  margin-top: 0.7em;
  margin-bottom: 0;
  font-size: 1.1rem;
}

.post-info,
.post-date,
.post-tags,
.post-tags a:link,
.post-tags a:visited {
  color: var(--gray-text);
}

.post-tags a:hover {
  color: white;
}

.post-tags a:active {
  color: var(--gray-text);
}

/* Text */
h1 {
  color: white;
}

h2 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

h3 {
  margin-top: 1.5em;
  margin-bottom: 0;
}

.p-less-margin {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;

  border-radius: 10px;
}

ul {
  padding-left: 1.5em;
}

blockquote {
  border-left: 2px solid var(--gray-text);
  padding-left: 1em;
  margin-left: 0;
}

audio {
  width: 100%;
}

iframe {
  width: 100%;
}

/* Hyperlinks*/
a:link,
a:visited {
  color: #47bcff;
  text-decoration: none;
  transition: text-shadow 0.05s, color 0.1s;
}

:target,
a:hover {
  text-decoration: underline;
  text-underline-offset: 1px;
  color: rgb(255, 255, 255);
}

a:hover {
  text-shadow: 1px 1px 20px #ffffff98;
}

a:active {
  color: #ffffffbb;
}


/* Comments */
#comments {
  margin-top: 1.5em;
}

#comments>h2 {
  margin-top: 0;
}


/* Selection */
::selection {
  background: #0078ab;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);

  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 1);
}

/* Navigation bar */
nav {
  text-align: center;
  word-spacing: 10px;
}

nav a:link,
nav a:visited {
  color: #00000091;
  text-decoration: none;
}

nav a:hover {
  text-decoration: none;
  color: black;
  text-shadow: 0px 0px 3px #ffffff;
}

/* Expanding underline */
nav a:after {
  display: block;
  content: "";

  position: relative;
  top: -4px;

  width: 0;
  height: 2px;
  background: black;

  transition: width 0.1s;
}

nav a:hover:after {
  width: 100%;
}

/* Current page */
nav a#current {
  color: black;
}

nav a#current:after {
  width: 100%;
}

nav span {
  display: inline-block;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 2em;
}

.buttons img,
.buttons a img {
  width: calc(81px * var(--button-scale));
  height: calc(31px * var(--button-scale));
  image-rendering: pixelated;
  border-radius: 1px;
}
