<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <html lang="en">

  <link rel="stylesheet" href="/assets/css/style.css">

  <title>{{ page.title }}</title>
  <link rel="icon" href="/assets/images/eye.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content={{ post.excerpt | strip_html }}>

  <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">
  <link href="{{ site.url }}/assets/css/syntax.css" rel="stylesheet" />
  <a style="display: none;" rel="me" href="https://mas.to/@meow_d">Mastodon</a>
</head>

<body>
  {% include navigation.html %}
  <main>{{ content }}</main>
  {% include comments.html %}
  {% include footer.html %}
</body>

<script defer src='https://static.cloudflareinsights.com/beacon.min.js'
  data-cf-beacon='{"token": "778ca85d7a82478fae4749ebed823702"}'></script>

</html>
