<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    {% if page.fontawesome %}
      <link rel="stylesheet" href="/assets/fontawesome/css/fontawesome.min.css">
      <link rel="stylesheet" href="/assets/fontawesome/css/solid.min.css">
      <link rel="stylesheet" href="/assets/fontawesome/css/brands.min.css">
    {% endif %}
    <link rel="stylesheet" href="/assets/css/style.css">

    <title>{{ page.title }}</title>
    <link rel="icon" href="/assets/images/noto_fish_animated.gif" />
    <link rel="apple-touch-icon" href="/assets/images/eye.png">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% if page.description %}
      <meta name="description" content="{{ page.description }}">
    {% else %}
      <meta name="description" content="{{ page.excerpt | strip_html }}">
    {% endif %}

    <link
      rel="alternate"
      type="application/rss+xml"
      href="{{ site.url }}/feed.xml">
    <link href="{{ site.url }}/assets/css/syntax.css" rel="stylesheet" />
    <a
      style="display: none;"
      rel="me"
      href="https://blahaj.zone/@meow_d">Sharkey</a>
  </head>

  <body>
    <div class="container">
      {% include navigation.html %}
      <main>{{ content }}</main>
      {% include comments.html %}
    </div>
  </body>

  <script
    defer
    src='https://static.cloudflareinsights.com/beacon.min.js'
    data-cf-beacon='{"token": "778ca85d7a82478fae4749ebed823702"}'
    fetchpriority="low"></script>

</html>
