<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <html lang="en">

  <link rel="stylesheet" href="/assets/css/style.css">

  <title>{{ page.title }}</title>
  <link rel="icon" href="/assets/images/eye.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content={{ post.excerpt | strip_html }}>

  <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">
  <a style="display: none;" rel="me" href="https://mas.to/@meow_d">Mastodon</a>
</head>

<body hx-boost="true">
  {% include navigation.html %}
  <main>
    {{ content }}
  </main>
  {% include footer.html %}
</body>

<script defer src='https://static.cloudflareinsights.com/beacon.min.js'
  data-cf-beacon='{"token": "778ca85d7a82478fae4749ebed823702"}'></script>
<script src="https://unpkg.com/htmx.org@1.9.10"
  integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>

</html>
