---
layout: default
permalink: pretty
---

<article class="h-entry">
  <h1 class="p-name">{{ page.title }}</h1>

  <section class="post-info">
    <span class="post-date dt-published" datetime="{{ page.date | date: " %Y-%m-%d %H:%M:%S" }}">
      {{ page.date | date: "%e %B, %Y" }}
    </span>
    <span>· </span>

    <span class="p-author h-card">by meow_d</span>

    {% if page.tags.size > 0 %}
      <span>· </span>
      <span class="post-tags">
        {% for tag in page.tags %}
          <a class="p-category" href="/tags#{{ tag }}">#{{ tag }}</a>
        {% endfor %}
      </span>
    {% endif %}
  </section>

  <section class="e-content">
    {{ content }}
  </section>
</article>
