<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/assets/css/secret.css">

    <title>{{ page.title }}</title>
    <link rel="icon" href="/assets/images/eye.png" />
    <link rel="apple-touch-icon" href="/assets/images/eye.png">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% if page.description %}
      <meta name="description" content="{{ page.description }}">
    {% else %}
      <meta name="description" content="{{ page.excerpt | strip_html }}">
    {% endif %}

    <link
      rel="alternate"
      type="application/rss+xml"
      href="{{ site.url }}/feed.xml">
    <link href="{{ site.url }}/assets/css/syntax.css" rel="stylesheet" />
    <a
      style="display: none;"
      rel="me"
      href="https://blahaj.zone/@meow_d">Sharkey</a>
  </head>

  <body>
    <article class="h-entry">
      <h1 class="p-name">{{ page.title }}</h1>
      <section class="e-content">
        {{ content }}
      </section>
    </article>
  </body>

  <script
    defer
    src='https://static.cloudflareinsights.com/beacon.min.js'
    data-cf-beacon='{"token": "778ca85d7a82478fae4749ebed823702"}'></script>
</html>
